<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://watchportalfunction-app-gleniox1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1a938190-e8b8-4d96-8f61-f2606002a079/resourceGroups/learn-6da6a516-e088-47f7-8d51-7438561aec50/providers/Microsoft.Web/sites/WatchPortalFunction-app-gleniox1</ResourceId>
    <UserName>$WatchPortalFunction-app-gleniox1</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://watchportalfunction-app-gleniox1.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>